.DS_Store
.DS_Store?
._*
.ipynb_checkpoints/
__pycache__/**
chains/*
./cmd_outputs/*
*CPU_test*
*GPU_test*
*.out
python3.11_cuda12_with_torch/*
databases/*
zBEAMS_plots/*
*.sh
*.bashrc
code_backups/*
*.pickle
*.csv
*.pdf
*./*.pdf
*./*.png
*.png
*.db
./.vs_code_python114_archive_zBEAMS/*
*vs_code_python114_archive_zBEAMS*
./memory_profiling/*
memory_profiling/*